%boots {
  width: 100%;
  height: auto;
}

%gallery_container {
  margin-top: 5%;
  background-color: #9EB178;
}

#boots1 {
  @extend %boots;
  width: 26%;
  margin-right: 5%;
}

#boots1 img {
  @extend %boots;
}

.thumbnail img {
  @extend %boots;
}

#page_5, #page_6, #page_7 {
  @extend %gallery_container;
}
