nav {
  justify-content: center;

  button {
    background-color: #9EB178;
  }

  button a {
    color: #266726;
  }

  button:hover {
    background-color: #798C53;
  }

  button a:hover {
    color: #266726;
  }
}
