/* html {
  background-color: teal;
} */

button:hover {
  background-color: orange;
}

/* #page_nav a::before {
  content: "Go to: ";
  font-weight: bold;
} */

/* p::before {
  content: "Read this -";
  background-color: yellow;
  color: red;
  font-weight: bold;
} */
