html {
  background-color: #546532;
}

body {
  background-color: #798C53;
  padding-left: 5%;
}

a {
  color: #8AB68A;
}

a:hover {
  color: #BAD5BA;
}

h1, h2, h3 {
  color: #2C3D0B;
}

h1::selection,
h2::selection,
h3::selection {
  color: #679867;
  background-color: #2B572B;
}

p {
  color: #43561D;
}

button {
  background-color: #9EB178;
}

button a {
  color: #266726;
}

button:hover {
  background-color: #798C53;
}

button a:hover {
  color: #266726;
}

#intro_section0 h1, p {
  width: 78%;
}

p::selection {
  color: #41410C;
  background-color: #BEBE81;
}

#page_contents h3 {
  padding: 10px;
}

.container {
  background-color: lightgray;
}

#boots1 {
  width: 26%;
  height: auto;
  margin-right: 5%;
}

#boots1 img {
  width: 100%;
  height: auto;
}

@media (max-width: 499px) {
  #intro_section0 h1 {
    width: 90%;
    font-size: 2.0rem;
  }

  #boots1 img, #boots1 {
    display: none;
  }
}

.col-lg img {
  width: 100%;
}

/* #page_nav a::before {
  content: "Go to: ";
  font-weight: bold;
} */

/* p::before {
  content: "Read this -";
  background-color: yellow;
  color: red;
  font-weight: bold;
} */

/* p::selection {
    color: red;
    background-color: yellow;
} */
